<h1>Welcome To The Quiz</h1>  
<p>In just a moment, you'll be presented with a series of pictures. These pictures can be of any race, culture or gender; our facial recognition scanners will monitor you during the experience for minor changes in facial expressions. At the end, you'll see your score and any recommendations for improvement.</p>
<p>Because this test requires a clear view of your face, please make sure you are in a well-lit area and that your camera has a clear view of your head between your chin and your forehead. Click "Start Now" whenever you're ready!</p>
<button>Start Now</button>