html, body {
	height: 100%;
}
body {
	background: #f6f6f6 url("../img/bg_safeface.jpg") center center no-repeat fixed;
	background-size: cover;
	font-family: "Domine", Georgia, "Times New Roman", Times, serif;
}

.wrapper {
	display: table;
	height: 100%;
	width: 100%;
	min-height: 100%;
}
.middle-fix {
	display: table-cell;
	vertical-align: middle;
}

.half-white-box, .full-white-box {
	padding: 1em;
}
.half-white-box {
	background-color: rgba(255, 255, 255, 0.55);
}
.full-white-box{
	background-color: #fff;
}
.rounded-corners{
	border-radius: 0.3em;
}

.logo {
	margin:1em auto;
}
.navbar-header  img.logo{
	height: 30px;
	margin: 0.4em auto;
}

.description {
	font-size: 1.75em;
}
.description a.btn {
	font-family: Tahoma, sans-serif;	
}
.btn-safeface {
	color: #fff;
	background-color: #5DBCD2;
	border-color: #4A96A8;
	font-size: 0.9em;
}

.btn-safeface-info{
	color: #fff;
	background-color: #333;
	border-color: #000;
	font-size: 0.6em;
}
.description a.btn:hover{
	color: #ddd;
}
.directions {
	margin-top:0.4em;
	font-size: 0.9em;
}
.statistic p {
	font-size: 0.6em;
}

#webcam {
	margin: 1em auto;
}